@font-face {
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;
    src: 
         /* local('Open Sans'),  */
         url("/fonts/OpenSans.woff2") format("woff2"),
         url("/fonts/OpenSans.woff") format("woff"),
         url("/fonts/OpenSans.ttf") format("ttf");
         font-display: swap;
  }

  @font-face {
     font-family: "Open Sans";
     font-weight: 600;
    font-style: normal;
     src: 
          /* local('Open Sans'),  */
          url("/fonts/OpenSans-Semibold.woff2") format("woff2"),
          url("/fonts/OpenSans-Semibold.woff") format("woff"),
          url("/fonts/OpenSans-Semibold.ttf") format("ttf");
          font-display: swap;
   } 

  @font-face {
    font-family: "Open Sans";
    font-weight: 700;
   font-style: normal;
    src: 
          /* local('Open Sans'),  */
         url("/fonts/OpenSans-Bold.woff2") format("woff2"),
         url("/fonts/OpenSans-Bold.woff") format("woff"),
         url("/fonts/OpenSans-Bold.ttf") format("ttf");
         font-display: swap;
  } 



  @font-face {
    font-family: "Open Sans";
    font-weight: 300;
   font-style: normal;
    src: 
          /* local('Open Sans'),  */
         url("/fonts/OpenSans-Light.woff2") format("woff2"),
         url("/fonts/OpenSans-Light.woff") format("woff"),
         url("/fonts/OpenSans-Light.ttf") format("ttf");
         font-display: swap;
  } 

 @font-face {
    font-family: "Open Sans";
    font-weight: 800;
   font-style: normal;
    src: 
          /* local('Open Sans'),  */
         url("/fonts/OpenSans-Extrabold.woff2") format("woff2"),
         url("/fonts/OpenSans-Extrabold.woff") format("woff"),
         url("/fonts/OpenSans-Extrabold.ttf") format("ttf");
         font-display: swap;
  }  

body {
   font-family: "Open Sans", sans-serif;
   font-weight: normal; 
}



 /* .open-sans-loaded {
     font-family: "Open Sans", sans-serif;
 } */